[Desktop Entry]
Type=Application
Name=Install AedwenOS
GenericName=System Installer
Comment=Install AedwenOS to disk
Exec=pkexec calamares
Icon=aedwenos
Terminal=false
Categories=System;
Keywords=calamares;install;
